@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input{
  width:80px;
  height:30px;
 
}
.rtl-tag {
  direction: rtl;
}
.styleSahdow {
  box-shadow: 2px 0 2px 2 rgba(0, 0, 0, 0.2);
}
.img {
  width: 50%;
  height: auto;
}
.style-button{
@apply bg-primary text-gray-50 p-1 duration-500 rounded-xl text-center

}